<html>
      <body>
      
        <div style="padding-top: 100px; text-align: center;">
         <p style="font-size:50px; color:black;"><b>Spam Message Detector</b></p>
         <form action="/page2link" method="POST">
          <p style="font-size:30px"><b>Message:</b> <textarea name="message" rows="4" cols="50" placeholder="Enter your message here."></textarea></p>
          <p style="font-size:30px"><b>Prediction:</b> <input type="submit" value="Detect"></p>
         </form>
        </div> 
       </body>
</html>